@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>The Joel Hilton Film Collection</h1>
    <img src="~/img/joelhiltonheadshot.jpg" /> <br />
</div>

<div>
    <a asp-controller="Home" asp-action="Menu">Get to know more about this guy!</a>
    <a asp-controller="Home" asp-action="MovieForm">Fill out form</a>
</div>