@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Get to Know Joel!</h1>
</div>
<div>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <a href="https://baconsale.com">Baconsale</a>
    <img src="~/img/baconsalekate.jpg" onclick="window.open('https://baconsale.com')" />
</div>
